
/logs
instance.json
instance.json
/local
/fancymenu_data
modernfix/structureCacheV1/additionalstructures_standing_oak_log_757935e96a.nbt
modernfix/structureCacheV1/additionalstructures_standing_spruce_log_2a2bb6052a.nbt
modernfix/structureCacheV1/additionalstructures_stone_circle_1_9cf632222d.nbt
modernfix/structureCacheV1/additionalstructures_stone_circle_2_3721c3e2ea.nbt
modernfix/structureCacheV1/additionalstructures_stone_circle_3_d23b9b6d44.nbt
modernfix/structureCacheV1/additionalstructures_stone_rock_1_d100aa308c.nbt
modernfix/structureCacheV1/additionalstructures_stone_rock_2_09be76fda7.nbt
modernfix/structureCacheV1/additionalstructures_stone_rock_3_7b9df705ca.nbt
modernfix/structureCacheV1/additionalstructures_stone_rock_4_356452cb76.nbt
modernfix/structureCacheV1/additionalstructures_temple_1_a7957bdb3e.nbt
modernfix/structureCacheV1/additionalstructures_temple_2_f23d7f7c96.nbt
modernfix/structureCacheV1/additionalstructures_tomb_1_d3d38814db.nbt
modernfix/structureCacheV1/additionalstructures_tomb_2_f1c2c8d613.nbt
modernfix/structureCacheV1/additionalstructures_tomb_3_74c64551d7.nbt
modernfix/structureCacheV1/additionalstructures_tower_1_1d7dfbd20f.nbt
modernfix/structureCacheV1/additionalstructures_tower_2_a073c12990.nbt
modernfix/structureCacheV1/additionalstructures_underground_base_1_5fabc819c1.nbt
modernfix/structureCacheV1/additionalstructures_underground_base_2_7adab489c3.nbt
modernfix/structureCacheV1/additionalstructures_underground_dungeon_1_d5ce2fec70.nbt
modernfix/structureCacheV1/additionalstructures_underground_dungeon_2_8a9ff5236f.nbt
modernfix/structureCacheV1/additionalstructures_underground_nether_portal_a8b35c9e5e.nbt
modernfix/structureCacheV1/additionalstructures_underground_stollen_1_efbc7caae2.nbt
modernfix/structureCacheV1/additionalstructures_villager_house_1_1b559bb817.nbt
modernfix/structureCacheV1/additionalstructures_villager_house_2_8299605fb3.nbt
modernfix/structureCacheV1/additionalstructures_villager_house_3_1fe5f569a3.nbt
modernfix/structureCacheV1/additionalstructures_villager_house_4_87760f2204.nbt
modernfix/structureCacheV1/additionalstructures_wall_ruin_1_3931b52d6e.nbt
modernfix/structureCacheV1/additionalstructures_wall_ruin_2_cb9d3d4ddb.nbt
modernfix/structureCacheV1/additionalstructures_well_1_2a7ffd1292.nbt
modernfix/structureCacheV1/additionalstructures_well_2_86b96d29ca.nbt
modernfix/structureCacheV1/additionalstructures_wither_skull_7d3b7af7e0.nbt
modernfix/structureCacheV1/alexscaves_underground_cabin_0_75474beb27.nbt
modernfix/structureCacheV1/alexscaves_underground_cabin_1_93b719aa29.nbt
modernfix/structureCacheV1/alexscaves_underground_cabin_2_a3939a811d.nbt
modernfix/structureCacheV1/dynamictrees_village_plains_town_centers_plains_meeting_point_3_24876af1d9.nbt
modernfix/structureCacheV1/explorify_badlands_pyramid_whole_8fc67ac9bc.nbt
modernfix/structureCacheV1/explorify_desert_shrine_whole_a0732045af.nbt
modernfix/structureCacheV1/explorify_guide_post_cold_whole_2f4e8b8428.nbt
modernfix/structureCacheV1/explorify_guide_post_warm_whole_859694af07.nbt
modernfix/structureCacheV1/iceandfire_graveyard_graveyard_bottom_499a494d13.nbt
modernfix/structureCacheV1/iceandfire_graveyard_graveyard_top_73f10a8d37.nbt
modernfix/structureCacheV1/iceandfire_village_taiga_scriber_1_46cb42baa6.nbt
modernfix/structureCacheV1/imst_airship_piece_be88d455f1.nbt
modernfix/structureCacheV1/imst_alpine_house_alpine_house_ff4e4dc137.nbt
modernfix/structureCacheV1/imst_balloon_balloon_9b78d5057f.nbt
modernfix/structureCacheV1/imst_cactus_farm_house_5e0cf8251f.nbt
modernfix/structureCacheV1/imst_caravan_caravan_cart_93267bfcd0.nbt
modernfix/structureCacheV1/imst_dark_tower_piece_52a81e9082.nbt
modernfix/structureCacheV1/imst_el_dorado_piece_d662703313.nbt
modernfix/structureCacheV1/imst_flowerdome_beehouse_a1a83edc6d.nbt
modernfix/structureCacheV1/imst_flowerdome_main_73eaddd1cc.nbt
modernfix/structureCacheV1/imst_flowerdome_tall_flower_717bc86319.nbt
modernfix/structureCacheV1/imst_fossil_head_head_1_6ca8411004.nbt
modernfix/structureCacheV1/imst_lumberjack_acacia_forest_7634b18b6c.nbt
modernfix/structureCacheV1/imst_lumberjack_jungle_forest_36dd8fa848.nbt
modernfix/structureCacheV1/imst_lumberjack_oak_forest_339555c5de.nbt
modernfix/structureCacheV1/imst_lumberjack_spruce_forest_a6f6c13621.nbt
modernfix/structureCacheV1/imst_pyramid_start_799fa3c433.nbt
modernfix/structureCacheV1/imst_terralith_yurt_185eb2804d.nbt
modernfix/structureCacheV1/imst_viking_house_main_b8f15107b9.nbt
modernfix/structureCacheV1/kaisyn_other_desert_temple_mimic_pyramid_main_893f05da9c.nbt
modernfix/structureCacheV1/kaisyn_ships_wreckage_ocean_wreckage_1_feaff3a20f.nbt
modernfix/structureCacheV1/more_underground_structures_big_travel_hideout_17ee1acda8.nbt
modernfix/structureCacheV1/more_underground_structures_calcite_blob_1_51ab30a8c0.nbt
modernfix/structureCacheV1/more_underground_structures_chest_dungeon_35e8aea95c.nbt
modernfix/structureCacheV1/more_underground_structures_chest_dungeon_jungle_3210f443fd.nbt
modernfix/structureCacheV1/more_underground_structures_coal_blob_1_8d8e3e9060.nbt
modernfix/structureCacheV1/more_underground_structures_coal_blob_2_048bae9dc8.nbt
modernfix/structureCacheV1/more_underground_structures_copper_blob_1_e24c368f02.nbt
modernfix/structureCacheV1/more_underground_structures_copper_blob_2_c0c1459a13.nbt
modernfix/structureCacheV1/more_underground_structures_creepy_road_1_c3eae9b9f1.nbt
modernfix/structureCacheV1/more_underground_structures_danger_chest_70a9061f5c.nbt
modernfix/structureCacheV1/more_underground_structures_deep_fossil_fragment_4_898bc65ab7.nbt
modernfix/structureCacheV1/more_underground_structures_deep_fossil_fragment_8_f39efeeefc.nbt
modernfix/structureCacheV1/more_underground_structures_deep_fossil_fragment_9_22fa91e197.nbt
modernfix/structureCacheV1/more_underground_structures_entrance_1_b02a826bb4.nbt
modernfix/structureCacheV1/more_underground_structures_fossil_fragment_1_a20e34380c.nbt
modernfix/structureCacheV1/more_underground_structures_fossil_hut_2_c45aeaeece.nbt
modernfix/structureCacheV1/more_underground_structures_ice_spike_1_e6e250b9a4.nbt
modernfix/structureCacheV1/more_underground_structures_iron_blob_2_0696003be8.nbt
modernfix/structureCacheV1/more_underground_structures_mamga_blob_2_79bb9fa797.nbt
modernfix/structureCacheV1/more_underground_structures_nether_pirimide_1_866756370e.nbt
modernfix/structureCacheV1/more_underground_structures_smal_lava_cdbcc06ec5.nbt
modernfix/structureCacheV1/more_underground_structures_smal_water_6f6e67ae6f.nbt
modernfix/structureCacheV1/more_underground_structures_small_calcite_vein_1_228b8ba8dd.nbt
modernfix/structureCacheV1/more_underground_structures_small_calcite_vein_2_45914f5b79.nbt
modernfix/structureCacheV1/more_underground_structures_small_calcite_vein_3_d717200c1d.nbt
modernfix/structureCacheV1/more_underground_structures_small_calcite_vein_4_285bf352ad.nbt
modernfix/structureCacheV1/more_underground_structures_small_coal_vein_1_6920d5ff99.nbt
modernfix/structureCacheV1/more_underground_structures_small_coal_vein_2_262aa2c956.nbt
modernfix/structureCacheV1/more_underground_structures_small_coal_vein_4_adaa9c7036.nbt
modernfix/structureCacheV1/more_underground_structures_small_copper_vein_4_ad170911bf.nbt
modernfix/structureCacheV1/more_underground_structures_small_geo_1_e36de91b2a.nbt
modernfix/structureCacheV1/more_underground_structures_small_iron_vein_1_9913cc63ea.nbt
modernfix/structureCacheV1/more_underground_structures_small_iron_vein_2_6fea2274cf.nbt
modernfix/structureCacheV1/more_underground_structures_small_iron_vein_4_ab79c81624.nbt
modernfix/structureCacheV1/more_underground_structures_small_magma_vein_1_e6808822d1.nbt
modernfix/structureCacheV1/more_underground_structures_small_magma_vein_3_7477e7c7e0.nbt
modernfix/structureCacheV1/more_underground_structures_small_travel_hideout_484d28e81a.nbt
modernfix/structureCacheV1/more_underground_structures_small_travel_hideout_abandon_9d8b16838a.nbt
modernfix/structureCacheV1/more_underground_structures_underground_well_f207a18cde.nbt
modernfix/structureCacheV1/more_underground_structures_zilverfish_dungeon_c42843f7fb.nbt
modernfix/structureCacheV1/more_underground_structures_zombievillager_dungeon_fd0f2e7ef3.nbt
modernfix/structureCacheV1/mowziesmobs_wroughtnaut_chamber_cd6bf85741.nbt
modernfix/structureCacheV1/phenomena_abandoned_mansion_c8cb4af437.nbt
modernfix/structureCacheV1/phenomena_doorbox_4081eb5ca7.nbt
modernfix/structureCacheV1/phenomena_jungle_portal_53896d4e7a.nbt
modernfix/structureCacheV1/phenomena_lush_trap_6a267df959.nbt
modernfix/structureCacheV1/phenomena_spooky_cottage_dede0c6ff6.nbt
modernfix/structureCacheV1/phenomena_village_taiga_campfire_9dafd9b657.nbt
modernfix/structureCacheV1/phenomena_village_taiga_guildhouse_taiga_3b4b12ccd9.nbt
modernfix/structureCacheV1/phenomena_wall_5fd5c55b3a.nbt
modernfix/structureCacheV1/philipsruins_ancient_dungeon_0_08244b824c.nbt
modernfix/structureCacheV1/philipsruins_ancient_dungeon_10_e3d8fd204e.nbt
modernfix/structureCacheV1/philipsruins_ancient_dungeon_12_b8739673ed.nbt
modernfix/structureCacheV1/philipsruins_ancient_dungeon_13_abcbcb5919.nbt
modernfix/structureCacheV1/philipsruins_ancient_dungeon_1_67d9cb02d4.nbt
modernfix/structureCacheV1/philipsruins_ancient_dungeon_2_87fd2c661d.nbt
modernfix/structureCacheV1/philipsruins_ancient_dungeon_3_957aaf896b.nbt
modernfix/structureCacheV1/philipsruins_ancient_dungeon_4_def47a3e97.nbt
modernfix/structureCacheV1/philipsruins_ancient_dungeon_5_8328199c43.nbt
modernfix/structureCacheV1/philipsruins_ancient_dungeon_7_d14704fd08.nbt
modernfix/structureCacheV1/philipsruins_ancient_dungeon_8_05d6087b63.nbt
modernfix/structureCacheV1/philipsruins_ancient_pyramid2_c92598d701.nbt
modernfix/structureCacheV1/philipsruins_ancient_ruin_4_052f19f34f.nbt
modernfix/structureCacheV1/philipsruins_ancient_tower_2_c2fe57fc64.nbt
modernfix/structureCacheV1/philipsruins_badlands_start_dungeon_eb39c13a7e.nbt
modernfix/structureCacheV1/philipsruins_bone_dungeon_start_5351b9c7a1.nbt
modernfix/structureCacheV1/philipsruins_crypt_start_08cba68ee9.nbt
modernfix/structureCacheV1/philipsruins_deep_ruin9_e46b38cbf8.nbt
modernfix/structureCacheV1/philipsruins_field_stone_ruins_rock2_6c07cf33bd.nbt
modernfix/structureCacheV1/philipsruins_lost_desert_ruin1_1c1baff0b0.nbt
modernfix/structureCacheV1/philipsruins_lost_soul_city_start_0396a5c72c.nbt
modernfix/structureCacheV1/philipsruins_lost_soul_start_pool_43b519f7bd.nbt
modernfix/structureCacheV1/philipsruins_ocean_fortress_main_cb72b3e942.nbt
modernfix/structureCacheV1/philipsruins_ocean_ruin10_cabc48451a.nbt
modernfix/structureCacheV1/philipsruins_pumpkin_ruin_one_95827e3606.nbt
modernfix/structureCacheV1/philipsruins_sculk_dungeon_start_6fc1a93b23.nbt
modernfix/structureCacheV1/red_beach_house_65f83b7a03.nbt
modernfix/structureCacheV1/red_birch_deforestation_56a63f81a5.nbt
modernfix/structureCacheV1/red_desert_pyramid_59013779ac.nbt
modernfix/structureCacheV1/red_flower_oracle_bf5d11fa40.nbt
modernfix/structureCacheV1/red_forest_deforestation_e82c5a4fc0.nbt
modernfix/structureCacheV1/red_herobrine_statue_6d0111b264.nbt
modernfix/structureCacheV1/red_jungle_deforestation_72751c2502.nbt
modernfix/structureCacheV1/red_jungle_pyramid_6e01eed2d9.nbt
modernfix/structureCacheV1/red_plains_oracle_0cd1105487.nbt
modernfix/structureCacheV1/red_snowy_oracle_739bf32d27.nbt
modernfix/structureCacheV1/red_sphinx_c4608c5eed.nbt
modernfix/structureCacheV1/red_statue2_688b401d25.nbt
modernfix/structureCacheV1/red_swamp_pillager_fd5129f487.nbt
modernfix/structureCacheV1/red_swamp_pillager_mangrove_833d1e9737.nbt
modernfix/structureCacheV1/red_taiga_deforestation_3a9704b4d0.nbt
/XaeroWorldMap
/XaeroWaypoints
/screenshots
rhino.local.properties
options.txt
data/fabricDefaultResourcePacks.dat
config/voicechat/username-cache.json
config/voicechat/username-cache.json
config/voicechat/username-cache.json
config/packetfixer.properties
config/oculus.properties
config/fabric/indigo-renderer.properties
config/embeddium-options.json
config/embeddium-fingerprint.json
config/embeddium++.toml
config/artifacts/common.json5
config/artifacts/client.json5
config/artifacts/client.json5
config/artifacts/common.json5
config/embeddium++.toml
config/embeddium-fingerprint.json
config/embeddium-options.json
config/fabric/indigo-renderer.properties
config/oculus.properties
config/packetfixer.properties
config/quark-common.toml
config/roughlyenoughitems/collapsible.json5
config/roughlyenoughitems/config.json5
config/roughlyenoughitems/favorites.json5
config/roughlyenoughitems/hints.json
config/roughlyenoughitems/pinyin.properties
config/roughlyenoughitems/pinyin_double.properties
config/sound_physics_remastered/occlusion.properties
config/sound_physics_remastered/reflectivity.properties
config/xaerominimap_entities.json
